html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  font-family: 'helvetica', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

/* Preloader */
.preloader-wrap.hide-loader {
  opacity: 0;
  z-index: -9999;
}
.preloader-wrap {
  z-index: 99999999;
  opacity: 1;
  -webkit-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
  background: -webkit-gradient(linear,left top,right top,from(#2193b0),to(#b1e9f5));
  background: -webkit-linear-gradient(left,#2193b0,#b1e9f5);
  background: -o-linear-gradient(left,#2193b0,#b1e9f5);
  background: linear-gradient(90deg,#2193b0,#b1e9f5);
}
.preloader-wrap, body:before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.preloader, .preloader>.indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.preloader {
  background: #e0ffff;
  -webkit-box-shadow: 0 0 100px cyan;
  box-shadow: 0 0 100px cyan;
  padding: 10px;
  width: 80px;
  height: 80px;
  z-index: 300;
  border-radius: 50%;
}

.preloader>.indicator {
  width: 70%;
  height: 70%;
  border: 8px solid #40e0d0;
  border-right-color: darken(#00ced1,8%);
  border-top-color: darken(cyan,15%);
  border-left-color: darken(#40e0d0,14%);
  border-bottom-color: #1e90ff;
  border-radius: 50%;
  -webkit-animation: .4s linear mm-spin infinite;
  animation: .4s linear mm-spin infinite;
}
.loading_text {
  position: absolute;
  font-size: 12px;
  top: 44px;
  left: 25px;
}

@-webkit-keyframes mm-spin {
  from {-webkit-transform: translate(-50%, -50%) rotateZ(0deg);transform: translate(-50%, -50%) rotateZ(0deg);}
  to {-webkit-transform: translate(-50%, -50%) rotateZ(360deg);transform: translate(-50%, -50%) rotateZ(360deg);}
}

@keyframes mm-spin {
  from {-webkit-transform: translate(-50%, -50%) rotateZ(0deg);transform: translate(-50%, -50%) rotateZ(0deg);}
  to {-webkit-transform: translate(-50%, -50%) rotateZ(360deg);transform: translate(-50%, -50%) rotateZ(360deg);}
}

.loading {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #ccc;
  border-right-color: #888;
  border-radius: 22px;
  -webkit-animation: rotate 1s infinite linear;
  animation: rotate 1s infinite linear;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* Table Style */
.tableWrap h1 {
  margin: 50px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.tableWrap .table {
  min-height: 120px;
  background: #fff;
  width: 60%;
  margin: 0 auto 30px;
  color: #777;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.tableWrap table {
  width: 100%
}
.tableWrap table th,
.tableWrap table td {
  padding: 10px;
}
.tableWrap table th {
  border-bottom: 1px solid #efefef;
  text-align: left;
}
.tableWrap table tbody tr:nth-child(2n + 2) td {
  background: #efefef;
}

